@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Source+Serif+Pro&display=swap');

header {
  width: 100%;
  background-color: wheat;
}
header h1 {
  margin: 0px;
  background-color: aqua;
  padding: 10px;
  font-family: "Source Serif Pro",Bitter;
}
body {
  margin: 0px;
}
nav  {
    background-color: #779be7;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
  nav a:any-link {
      color:darkred;
  }
  nav a:hover {
      background-color: aquamarine;
      color:chocolate;
  }